{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-4">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum vero aut consequuntur facilis quas ratione reiciendis culpa hic a, dicta iure mollitia veritatis, sit tempore ullam alias illum quo adipisci!
        </p>
    </div>

    <div class="col-8">
        <img src="assets/img/a.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}